//==========================================================================
// VARIAVEIS
// Definição das variavéis do Tema
// Não remover nenhuma das variavéis para evitar crash do SASS
//==========================================================================

// FONTS
//light - regular - semi-bold - bold
@import url("https://fonts.googleapis.com/css2?family=Montserrat:300,400,600,700");
@import url("https://fonts.googleapis.com/css2?family=Lato:400,600,700,800");

$font-default: "Montserrat", sans-serif !default;
$font-secundaria: "Lato", sans-serif !default;
$font-header: "Montserrat", sans-serif;

// DEFAULT RADIUS
$border-radius: 5px;

// CSS VARS
//==========================================================================
$i: !important;
$t: transparent;
